* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;

    margin: 0;
    padding: 0;
}

h2, h3 {
    color:chocolate;
}

footer {
    padding: 20px;
    color: white;
    background-color: chocolate;
    text-align: center;
    font-weight: bold;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

nav a:hover {
    font-weight: bold;
    color:  white;
    
}

.profile header{
    text-align: center;
}

.featured-image {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 1rem;
}

.profile img {
    max-width: 200px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(28, 26, 26, 0.2);
    border-radius: 5px;

    padding: 20px;

    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-in-out;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: chocolate;
    text-align: center;
    color: white;
}

nav ul {
    padding-inline: 4rem;
    display: flex;

    gap: 2rem;
}

nav li {
    list-style-type: none;
    
}

nav {
    background-color: rgb(181, 90, 25);
    padding: 5px;

    position: sticky;
    top: 0;
    z-index: 99999;
}

main {
    padding: 20px;
    
    display: flex;
    gap: 1.5rem;
}

#content {
    flex: 5;

    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

aside {
    flex: 1px;
}

header {
    display: inline;
}

@media screen and (max-width: 1000px) {
    #content, aside {
        width: 100%;
        padding: 0;
    }  
}

@media screen and (max-width: 1200px) {
    main {
        flex-flow: column nowrap;
    }

    main aside {
        align-self: center;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        justify-content: center;
    }

    main aside {
        align-self: stretch;
    }

    .featured-image {
        max-height: 200px;
    }
}

.testimoni-item {
  text-align: center;
  margin-bottom: 2rem;
}

.testimoni-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.testimoni-text {
  font-style: italic;
  margin: 10px 0;
}

.testimoni-nama {
  font-weight: bold;
  margin: 0;
}

.testimoni-jabatan {
  color: gray;
  font-size: 0.9em;
  margin-bottom: 10px;
}

